﻿@model IEnumerable<BookStore_Core.ViewModel.ShoppingCartViewModel>
<a class="cartbox_active" href="#"><span class="product_qun">@ViewBag.SoLuong</span></a>
<!-- Start Shopping Cart -->
<div class="block-minicart minicart__active">
    <div class="minicart-content-wrapper">
        <div class="micart__close">
            <span>Đóng</span>
        </div>
        @if (Model.Any())
        {
            <div class="items-total d-flex justify-content-between">
                <span>@ViewBag.SoLuong sản phẩm</span>
                <span>Tổng tiền</span>
            </div>
            <div class="total_amount text-right">
                <span>@ViewBag.TongTien VND</span>
            </div>
            <div class="mini_action checkout">
                <a class="checkout__btn" asp-action="ThanhToan" asp-controller="ShoppingCart">Xem và thanh toán</a>
            </div>
            <div class="single__items">
                <div class="miniproduct">
                    @foreach (var x in Model)
                    {
                        <div class="item01 d-flex mt--20">
                            <div class="thumb">
                                <a href="product-details.html"><img src="~/BookImages/@x.Sach.HinhAnh" alt="product images"></a>
                            </div>
                            <div class="content">
                                <h6><a href="product-details.html">@x.Sach.TenSach</a></h6>
                                <span class="prize">@x.GiaTong VND</span>
                                <div class="product_prize d-flex justify-content-between">
                                    <span class="qun">SL: @x.Cart.Amount</span>
                                    <ul class="d-flex justify-content-end">
                                        <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    @*<div class="item01 d-flex">
                        <div class="thumb">
                            <a href="product-details.html"><img src="~/Template/images/product/sm-img/1.jpg" alt="product images"></a>
                        </div>
                        <div class="content">
                            <h6><a href="product-details.html">Voyage Yoga Bag</a></h6>
                            <span class="prize">$30.00</span>
                            <div class="product_prize d-flex justify-content-between">
                                <span class="qun">Qty: 01</span>
                                <ul class="d-flex justify-content-end">
                                    <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item01 d-flex mt--20">
                        <div class="thumb">
                            <a href="product-details.html"><img src="~/Template/images/product/sm-img/2.jpg" alt="product images"></a>
                        </div>
                        <div class="content">
                            <h6><a href="product-details.html">Compete Track Tote</a></h6>
                            <span class="prize">$40.00</span>
                            <div class="product_prize d-flex justify-content-between">
                                <span class="qun">Qty: 03</span>
                                <ul class="d-flex justify-content-end">
                                    <li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        }
        else
        {
            <span>Không có sản phẩm nào</span>
        }

    </div>
</div>