﻿@model IEnumerable<BookStore_Core.Models.LoaiSachTongQuat>

@foreach (var loaiSachTQ in Model)
{
    <li>
        <a asp-controller="Saches" asp-action="HienThiTheoTheLoai" asp-area="" asp-route-id="@loaiSachTQ.LoaiSachTQId">
            @loaiSachTQ.TenLoaiSachTQ 
        </a>
    </li>
    @*<li>
        <a asp-controller="Saches" asp-action="HienThiTheoTheLoai" asp-area=""
           asp-route-id="@loaiSachTQ.LoaiSachTQId">@loaiSachTQ.TenLoaiSachTQ</a>
    </li>*@
}

