﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model BookStore_Core.Models.SachViewModel
@{
    Layout = "/Views/Shared/_Layout3.cshtml";
}
<!-- Main wrapper -->
<!-- Header -->
<!-- //Header -->
<!-- Start Search Popup -->
<!-- End Search Popup -->
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 style="color:black" class="bradcaump-title">Chi tiết sản phẩm</h2>
                    <nav class="bradcaump-content">
                        <a style="color:black" class="breadcrumb_item" href="/Home">Trang chủ</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start main Content -->
<div class="maincontent bg--white pt--80 pb--55">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="wn__single__product">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="wn__fotorama__wrapper">
                                <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                                    <a href="1.jpg"><img src="~/BookImages/@Model.Sach.HinhAnh" alt=""></a>
                                    @foreach (var x in Model.AnhPhus)
                                    {
                                        <a href="@x.HinhAnh"><img src="~/BookImages/@x.HinhAnh" alt=""></a>
                                    }

                                    @*<a href="3.jpg"><img src="~/Template/images/product/3.jpg" alt=""></a>
                                        <a href="4.jpg"><img src="~/Template/images/product/4.jpg" alt=""></a>
                                        <a href="5.jpg"><img src="~/Template/images/product/5.jpg" alt=""></a>
                                        <a href="6.jpg"><img src="~/Template/images/product/6.jpg" alt=""></a>
                                        <a href="7.jpg"><img src="~/Template/images/product/7.jpg" alt=""></a>
                                        <a href="8.jpg"><img src="~/Template/images/product/8.jpg" alt=""></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="product__info__main">
                                <h1>@Model.Sach.TenSach</h1>
                                <div class="product">
                                    <div class="product-reviews-summary d-flex">
                                        <ul class="rating d-flex">
                                            @for (int k = 0; k < Model.Sach.SaoTrungBinh; k++)
                                            {
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                            }
                                            @for (int k = 0; k < 5 - Model.Sach.SaoTrungBinh; k++)
                                            {
                                                <li><i class="fa fa-star-o"></i></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="price-box">
                                    @if (Model.BangGia.PhanTramKhuyenMai > 0)
                                    {
                                        <span><del>@Model.BangGia.DonGia</del> VND</span>
                                        <span>@(Model.BangGia.DonGia - Model.BangGia.DonGia * Model.BangGia.PhanTramKhuyenMai / 100) VND</span>
                                    }
                                    else
                                    {
                                        <span>@Model.BangGia.DonGia VND</span>
                                    }

                                </div>
                                <div class="product__overview">
                                    <p>@Model.Sach.MoTa</p>
                                </div>
                                <div class="box-tocart d-flex">
                                    <form asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-route-id="@Model.Sach.SachId">
                                        <span>SL</span>
                                        <input id="qty" class="input-text qty" name="qty" min="1" value="1" title="Qty" type="number">
                                        <div class="addtocart__actions">
                                            <button class="tocart" type="submit">Mua</button>
                                        </div>
                                    </form>

                                    <div class="product-addto-links clearfix">
                                        @if (ViewBag.SachDcThich == false)
                                        {
                                            <a class="wishlist" asp-action="Thich" asp-controller="Saches" asp-route-id="@Model.Sach.SachId"></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Thich" asp-controller="Saches" asp-route-id="@Model.Sach.SachId"><img height="20" width="20" src="~/BookImages/traitim.png" /></a>
                                        }
                                        <a class="compare" href="#"></a>
                                    </div>
                                </div>
                                <div class="product_meta">
                                    <span style="font-family:Tahoma" class="posted_in">
                                        <b>Thể loại:</b>
                                        <a style="font-family:Tahoma" href="/Saches/HienThiSachCuThe/@Model.Sach.LoaiSachCuThe.LoaiSachCTId">@Model.Sach.LoaiSachCuThe.TenLoaiSachCT</a>
                                    </span>
                                </div>
                                <div class="product_meta">
                                    <span style="font-family:Tahoma" class="posted_in">
                                        <b>Tác giả:</b>
                                        <a style="font-family:Tahoma" href="/Saches/HienThiTheoTacGia/@Model.Sach.TacGia.TacGiaId">@Model.Sach.TacGia.TenTacGia</a>
                                    </span>
                                </div>
                                <div class="product-share">
                                    <ul>
                                        <li class="categories-title">Chia sẻ :</li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-twitter icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-tumblr icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-facebook icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-linkedin icons"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="product__info__detailed">
                    <div class="pro_details_nav nav justify-content-start" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Chi tiết</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Đánh giá</a>
                    </div>
                    <div class="tab__container">
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
                            <div class="description__attribute">
                                <ul>
                                    <li>Kích thước: @Model.Sach.KichThuoc</li>
                                    <li>Loại bìa: @Model.Sach.LoaiBia </li>
                                    <li>Số trang: @Model.Sach.SoTrang</li>
                                    <li>Trọng lượng: @Model.Sach.TrongLuong gram</li>
                                    
                                </ul>
                                <br/>
                                <br/>
                            </div>
                        </div>
                        <!-- End Single Tab Content -->
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
                            <div class="review__attribute">
                                <h1>Đánh giá của khách hàng</h1>
                                @*<h2>Hastech</h2>*@
                                @*<div class="review__ratings__type d-flex">
                                    <div class="review-ratings">
                                        <div class="rating-summary d-flex">
                                            <span>Quality</span>
                                            <ul class="rating d-flex">
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li class="off"><i class="zmdi zmdi-star"></i></li>
                                                <li class="off"><i class="zmdi zmdi-star"></i></li>
                                            </ul>
                                        </div>

                                        <div class="rating-summary d-flex">
                                            <span>Price</span>
                                            <ul class="rating d-flex">
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li class="off"><i class="zmdi zmdi-star"></i></li>
                                                <li class="off"><i class="zmdi zmdi-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="rating-summary d-flex">
                                            <span>value</span>
                                            <ul class="rating d-flex">
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li><i class="zmdi zmdi-star"></i></li>
                                                <li class="off"><i class="zmdi zmdi-star"></i></li>
                                                <li class="off"><i class="zmdi zmdi-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="review-content">
                                        <p>Hastech</p>
                                        <p>Review by Hastech</p>
                                        <p>Posted on 11/6/2018</p>
                                    </div>
                                </div>*@
                            </div>
                            <div class="page-blog-details section-padding--lg bg--white">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 col-12">
                                            <div class="blog-details content">
                                                <article class="blog-post-details">
                                                    <div class="post_wrapper">
                                                        <div class="post_header">
                                                            <h2>Bình luận</h2>

                                                        </div>
                                                        <ul class="blog_meta">
                                                            @if (ViewBag.Comment.Count > 0)
                                                            {
                                                                <li><a href="#">@ViewBag.Comment.Count bình luận</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li> Chưa có bình luận nào cho cuốn sách này </li>
                                                            }

                                                            <li> / </li>
                                                        </ul>
                                                    </div>
                                                </article>
                                                <div class="comments_area">
                                                    <ul class="comment__list">
                                                        @if (ViewBag.Comment.Count > 0)
                                                        {
                                                            @foreach (var x in ViewBag.Comment)
                                                            {
                                                                <li>
                                                                    <div class="wn__comment">
                                                                        <div class="thumb">
                                                                            <img src="~/Template/images/blog/comment/1.jpeg" alt="comment images">
                                                                        </div>
                                                                        <div class="content">
                                                                            <div class="comnt__author d-block d-sm-flex">
                                                                                <span>@x.Customer.CustomerName</span>
                                                                                <span>@x.ThichId.ToString("dddd, dd MMMM yyyy HH:mm:ss")</span>
                                                                            </div>
                                                                            <p style="font-family:Tahoma">@x.NhanXet</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @*<div class="review_form_field">
                                        <div class="input__box">
                                            <span>Nickname</span>
                                            <input id="nickname_field" type="text" name="nickname">
                                        </div>
                                        <div class="input__box">
                                            <span>Summary</span>
                                            <input id="summery_field" type="text" name="summery">
                                        </div>
                                        <div class="input__box">
                                            <span>Review</span>
                                            <textarea name="review"></textarea>
                                        </div>
                                        <div class="review-form-actions">
                                            <button>Submit Review</button>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <!-- End Single Tab Content -->
                    </div>
                </div>
                
                <div class="wn__related__product">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">Sách liên quan</h2>
                    </div>
                    <div class="row mt--60">
                        <div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
                            <!-- Start Single Product -->
                            @foreach (var i in ViewBag.CungLoai)
                            {
                                   <div class="product product__style--3">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                            <div class="product__thumb">
                                                <a class="first__img" asp-action="Details" asp-controller="Saches"><img src="~/BookImages/@i.Sach.HinhAnh" width="250" height="250" alt="product image"></a>
                                                <a class="second__img animation1" asp-action="Details" asp-controller="Saches" asp-route-id="@i.Sach.SachId"><img src="~/BookImages/@i.Sach.HinhAnh" alt="product image"></a>
                                                <div class="hot__box">
                                                    @if (i.SoSachBanDuoc > 20)
                                                    {
                                                        <span class="hot-label">BestSeller</span>
                                                    }
                                                    else
                                                    if (i.BangGia.PhanTramKhuyenMai > 0)
                                                    {
                                                        <span class="hot-label">@i.BangGia.PhanTramKhuyenMai %</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="hot-label">Mới</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="product__content content--center">
                                                <h4><a style="font-family:Tahoma">@i.Sach.TenSach</a></h4>
                                                <ul class="prize d-flex">
                                                    @if (i.BangGia.PhanTramKhuyenMai > 0)
                                                    {
                                                        <li>@(i.BangGia.DonGia - i.BangGia.PhanTramKhuyenMai * i.BangGia.DonGia / 100)  VND</li>
                                                        <li class="old_prize">@i.BangGia.DonGia</li>
                                                    }
                                                    else
                                                    {
                                                        <li>@i.BangGia.DonGia VND</li>
                                                    }

                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                                                            <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                            <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        @for (int k = 0; k < i.Sach.SaoTrungBinh; k++)
                                                        {
                                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                                        }
                                                        @for (int k = 0; k < 5 - i.Sach.SaoTrungBinh; k++)
                                                        {
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            }
                            
                           
                            <!-- Start Single Product -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    <aside class="wedget__categories poroduct--cat">
                        <span style="font-family:Tahoma">Sản phẩm thuộc </span>
                        <h3 class="wedget__title" style="font-family:Tahoma"> @ViewBag.TheLoaiTongQuat.TenLoaiSachTQ</h3>
                        <ul>
                            @for (int i = 0; i < ViewBag.DSTheLoaiCT.Count; i++)
                            {
                                <li><a href="/Saches/HienThiSachCuThe/@ViewBag.DSTheLoaiCT[i].LoaiSachCTId">@ViewBag.DSTheLoaiCT[i].TenLoaiSachCT <span>(@ViewBag.SoLuongSP[i])</span></a></li>
                            }

                            @*<li><a href="#">Business <span>(4)</span></a></li>
                                <li><a href="#">Cookbooks <span>(6)</span></a></li>
                                <li><a href="#">Health & Fitness <span>(7)</span></a></li>
                                <li><a href="#">History <span>(8)</span></a></li>
                                <li><a href="#">Mystery <span>(9)</span></a></li>
                                <li><a href="#">Inspiration <span>(13)</span></a></li>
                                <li><a href="#">Romance <span>(20)</span></a></li>
                                <li><a href="#">Fiction/Fantasy <span>(22)</span></a></li>
                                <li><a href="#">Self-Improvement <span>(13)</span></a></li>
                                <li><a href="#">Humor Books <span>(17)</span></a></li>
                                <li><a href="#">Harry Potter <span>(20)</span></a></li>
                                <li><a href="#">Land of Stories <span>(34)</span></a></li>
                                <li><a href="#">Kids' Music <span>(60)</span></a></li>
                                <li><a href="#">Toys & Games <span>(3)</span></a></li>
                                <li><a href="#">hoodies <span>(3)</span></a></li>*@
                        </ul>
                    </aside>
                    <aside class="wedget__categories pro--range">
                        <h3 class="wedget__title">Filter by price</h3>
                        <div class="content-shopby">
                            <div class="price_filter s-filter clear">
                                <form action="#" method="GET">
                                    <div id="slider-range"></div>
                                    <div class="slider__range--output">
                                        <div class="price__output--wrap">
                                            <div class="price--output">
                                                <span>Giá từ: </span><input type="text" id="amount" readonly="">
                                            </div>
                                            <div class="price--filter">
                                                <a href="#">Filter</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </aside>
                    @*<aside class="wedget__categories poroduct--compare">
                            <h3 class="wedget__title">Compare</h3>
                            <ul>
                                <li><a href="#">x</a><a href="#">Condimentum posuere</a></li>
                                <li><a href="#">x</a><a href="#">Condimentum posuere</a></li>
                                <li><a href="#">x</a><a href="#">Dignissim venenatis</a></li>
                            </ul>
                        </aside>*@
                    <aside class="wedget__categories poroduct--tag">
                        <h3 class="wedget__title">Product Tags</h3>
                        <ul>
                            <li><a href="#">Biography</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Cookbooks</a></li>
                            <li><a href="#">Health & Fitness</a></li>
                            <li><a href="#">History</a></li>
                            <li><a href="#">Mystery</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">Religion</a></li>
                            <li><a href="#">Fiction</a></li>
                            <li><a href="#">Fantasy</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Toys</a></li>
                            <li><a href="#">Hoodies</a></li>
                        </ul>
                    </aside>
                    <aside class="wedget__categories sidebar--banner">
                        <img alt="banner images" src="~/Template/images/others/S.jpg"/>
                        <div class="text">
                            <h2>new products</h2>
                            <h6>save up to <br> <strong>40%</strong>off</h6>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End main Content -->
<!-- Footer Area -->
<!-- //Footer Area -->
<!-- QUICKVIEW PRODUCT -->
<div id="quickview-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="productmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal__container" role="document">
            <div class="modal-content">
                <div class="modal-header modal__header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product">
                        <!-- Start product images -->
                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="big images" src="~/Template/images/product/big-img/1.jpg">
                            </div>
                        </div>
                        <!-- end product images -->
                        <div class="product-info">
                            <h1>Simple Fabric Bags</h1>
                            <div class="rating__and__review">
                                <ul class="rating">
                                    <li><span class="ti-star"></span></li>
                                    <li><span class="ti-star"></span></li>
                                    <li><span class="ti-star"></span></li>
                                    <li><span class="ti-star"></span></li>
                                    <li><span class="ti-star"></span></li>
                                </ul>
                                <div class="review">
                                    <a href="#">4 customer reviews</a>
                                </div>
                            </div>
                            <div class="price-box-3">
                                <div class="s-price-box">
                                    <span class="new-price">$17.20</span>
                                    <span class="old-price">$45.00</span>
                                </div>
                            </div>
                            <div class="quick-desc">
                                Designed for simplicity and made from high quality materials. Its sleek geometry and material combinations creates a modern look.
                            </div>
                            <div class="select__color">
                                <h2>Select color</h2>
                                <ul class="color__list">
                                    <li class="red"><a title="Red" href="#">Red</a></li>
                                    <li class="gold"><a title="Gold" href="#">Gold</a></li>
                                    <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                    <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                </ul>
                            </div>
                            <div class="select__size">
                                <h2>Select size</h2>
                                <ul class="color__list">
                                    <li class="l__size"><a title="L" href="#">L</a></li>
                                    <li class="m__size"><a title="M" href="#">M</a></li>
                                    <li class="s__size"><a title="S" href="#">S</a></li>
                                    <li class="xl__size"><a title="XL" href="#">XL</a></li>
                                    <li class="xxl__size"><a title="XXL" href="#">XXL</a></li>
                                </ul>
                            </div>
                            <div class="social-sharing">
                                <div class="widget widget_socialsharing_widget">
                                    <h3 class="widget-title-modal">Share this product</h3>
                                    <ul class="social__net social__net--2 d-flex justify-content-start">
                                        <li class="facebook"><a href="#" class="rss social-icon"><i class="zmdi zmdi-rss"></i></a></li>
                                        <li class="linkedin"><a href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                        <li class="pinterest"><a href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                        <li class="tumblr"><a href="#" class="tumblr social-icon"><i class="zmdi zmdi-tumblr"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="addtocart-btn">
                                <a href="#">Add to cart</a>
                            </div>
                        </div><!-- .product-info -->
                    </div><!-- .modal-product -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- END Modal -->
</div>

