﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model BookStore_Core.ViewModel.PaginatedList<SachViewModel>
@{
    Layout = "/Views/Shared/_Layout3.cshtml";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<!-- Main wrapper -->
<!-- Header -->
<!-- //Header -->
<!-- Start Search Popup -->
<!-- End Search Popup -->
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Shop Grid</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="index.html">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Shop Grid</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    <aside class="wedget__categories poroduct--cat">
                        @*<span style="font-family:Tahoma">Thể loại</span>*@
                        <h3 class="wedget__title">Tất cả tác giả</h3>
                        <ul>
                            @for (int i = 0; i < ViewBag.TacGia.Count; i++)
                            {
                                <li><a href="/Saches/HienThiTheoTacGia/@ViewBag.TacGia[i].TacGiaId"> @ViewBag.TacGia[i].TenTacGia <span>(@ViewBag.SoLuongSP[i])</span></a></li>
                            }
                        </ul>
                    </aside>
                    <aside class="wedget__categories pro--range">
                        <h3 class="wedget__title">Filter by price</h3>
                        <div class="content-shopby">
                            <div class="price_filter s-filter clear">
                                <form action="#" method="GET">
                                    <div id="slider-range"></div>
                                    <div class="slider__range--output">
                                        <div class="price__output--wrap">
                                            <div class="price--output">
                                                <span>Price :</span><input type="text" id="amount" readonly="">
                                            </div>
                                            <div class="price--filter">
                                                <a href="#">Filter</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </aside>
                    <aside class="wedget__categories poroduct--tag">
                        <h3 class="wedget__title">Product Tags</h3>
                        <ul>
                            <li><a href="#">Biography</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Cookbooks</a></li>
                            <li><a href="#">Health & Fitness</a></li>
                            <li><a href="#">History</a></li>
                            <li><a href="#">Mystery</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">Religion</a></li>
                            <li><a href="#">Fiction</a></li>
                            <li><a href="#">Fantasy</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Toys</a></li>
                            <li><a href="#">Hoodies</a></li>
                        </ul>
                    </aside>
                    <aside class="wedget__categories sidebar--banner">
                        <img src="~/Template/images/others/banner_left.jpg" alt="banner images">
                        <div class="text">
                            <h2>new products</h2>
                            <h6>save up to <br> <strong>40%</strong>off</h6>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                            <div class="shop__list nav justify-content-center" role="tablist">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i class="fa fa-th"></i></a>
             
                            </div>
                           <p>Hiển thị 1–9 kết quả</p>
                            <div class="orderby__wrapper">
                                @*<span>Sort By</span>
                                    <select class="shot__byselect">
                                        <option>Default sorting</option>
                                        <option>HeadPhone</option>
                                        <option>Furniture</option>
                                        <option>Jewellery</option>
                                        <option>Handmade</option>
                                        <option>Kids</option>
                                    </select>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab__container">
                    <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                        <div class="row">
                            <!-- Start Single Product -->
                            @foreach (var x in Model)
                            {
                                <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <div class="product__thumb">
                                        <a class="first__img" href="/Saches/Details/@x.Sach.SachId"><img height="300" width="300" src="~/BookImages/@x.Sach.HinhAnh" alt="product image"></a>
                                        <a class="second__img animation1" href="/Saches/Details/@x.Sach.SachId"><img height="300" width="300" src="~/BookImages/@x.Sach.HinhAnh" alt="product image"></a>
                                        <div class="hot__box">
                                            @if (x.BangGia.PhanTramKhuyenMai > 0)
                                            {
                                                <span class="hot-label">@x.BangGia.PhanTramKhuyenMai %</span>
                                            }
                                            else
                                            {
                                                <span class="hot-label">Mới</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a href="single-product.html">@x.Sach.TenSach</a></h4>
                                        <ul class="prize d-flex">
                                            @if (x.BangGia.PhanTramKhuyenMai > 0)
                                            {
                                                <li>@(x.BangGia.DonGia - x.BangGia.PhanTramKhuyenMai * x.BangGia.DonGia / 100)  VND</li>
                                                <li class="old_prize">@x.BangGia.DonGia</li>
                                            }
                                            else
                                            {
                                                <li>@x.BangGia.DonGia VND</li>
                                            }
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                                                    <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                    <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                    <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                @for (int i = 0; i < x.Sach.SaoTrungBinh; i++)
                                                {
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                }
                                                @for (int i = 0; i < 5 - x.Sach.SaoTrungBinh; i++)
                                                {
                                                    <li><i class="fa fa-star-o"></i></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            }

                            <!-- End Single Product -->

                        </div>
                        <ul class="wn__pagination">
                            @if (@prevDisabled == "")
                            {
                                <li>
                                    <a asp-route-page="@(Model.PageIndex - 1)"><i class="zmdi zmdi-chevron-left"></i></a>
                                </li>
                            }
                            @{
                                int k = 1;
                                if (ViewBag.Trang / 4 > 1 && ViewBag.Trang % 4 > 1)
                                {
                                    k++;
                                }
                                @for (var i = k; i < 4 + ViewBag.Trang && i <= ViewBag.Max; i++)
                                {
                                    if (i == ViewBag.Trang)
                                    {
                                        <li class="active"><a asp-action="HienThiTatCaTacGia" asp-controller="Saches" asp-route-page="@i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-action="HienThiTatCaTacGia" asp-controller="Saches" asp-route-page="@i">@i</a></li>
                                    }
                                }
                            }

                            @if (nextDisabled == "")
                            {
                                <li>
                                    <a asp-route-page="@(Model.PageIndex + 1)"><i class="zmdi zmdi-chevron-right"></i></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
<!-- Footer Area -->
<!-- //Footer Area -->
