﻿@model BookStore_Core.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Details</b>
</h1>
<h4 style="text-align: center">
    <b>Employee</b>
</h4>
<hr />
<div>
    <dl style="padding-left:250px" class="row">
        <dt class = "col-sm-2">
            Tên nhân viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            SDT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
           Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Sinh nhật
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class = "col-sm-2">
            Cập nhật ngày
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
</div>
<hr />
<div style="text-align: center">
    <b>
        <a asp-action="Edit" asp-controller="Employees" asp-area="Admin" asp-route-id="@Model.EmployeeId">Sửa</a> |
        <a asp-action="Index" asp-controller="AdminMenus" asp-area="Admin">Về trang chủ</a>
    </b>
</div>
<hr />
