﻿@model BookStore_Core.Models.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Promotion</b>
</h1>

<h3 style="text-align: center">
    <b>Bạn có muốn thăng chức cho nhân viên này lên quản lý ko?</b>
</h3>
<hr />
    <h4 style="text-align: center">
        <b>Employee</b>
    </h4>
<hr />
<div>
    <dl style="padding-left:350px" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDel)
        </dd>
    </dl>

    <hr />
    <form style="text-align: center" asp-action="NangCap" asp-route-id="@Model.EmployeeId">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Nâng cấp" class="btn btn-danger" /> |
        <b>
            <a asp-action="Index">Back to List</a>
        </b>
    </form>
</div>
