﻿@model IEnumerable<BookStore_Core.ViewModel.ShoppingCartViewModel>
@{
    ViewData["Title"] = "ThanhToan";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!-- Main wrapper -->
<!-- Header -->
<!-- //Header -->
<!-- Start Search Popup -->
<!-- End Search Popup -->
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Shopping Cart</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="index.html">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Shopping Cart</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- cart-main-area start -->
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <form asp-action="KetThucThanhToan">
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Hình ảnh</th>
                                    <th class="product-name">Tên sách</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Giá</th>
                                    @*<th class="product-remove">Xóa</th>*@
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var x in Model)
                                {
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="~/BookImages/@x.Cart.Sach.HinhAnh" alt="product img"></a></td>
                                        <td class="product-name"><a href="#">@x.Cart.Sach.TenSach</a></td>
                                        <td class="product-price"><span class="amount">@x.BangGia.DonGia</span></td>
                                        <td class="product-quantity">
                                            <div class="form-group">
                                                <input name="SoLuong[]" type="number" class="form-control prc" value="@x.Cart.Amount" />
                                            </div>
                                        </td>
                                        <td class="product-subtotal">

                                            @x.GiaTong

                                        </td>
                                        @*<td class="product-remove"><a asp-action="XoaMatHang" asp-controller="ShoppingCart" asp-route-id="@x.Cart.CartId.ToString("yyyyMMddHHmmss")">X</a></td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="cartbox__btn">
                        
                        <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">

                            <li>
                                <button type="submit">

                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_ZbaQ1zrji4drQXzTPL0EHizQ00gg6Jj80V"
                                            data-name="LINKCreative"
                                            data-description="Product One ($10.00)"
                                            data-image="https://www.dropbox.com/s/3cz7kdvw7qh62jf/LINK_logo_512_red.png?dl=1"
                                            data-label="PayPall"
                                            data-allow-remember-me="false"
                                            data-locale="auto">
                                    </script>
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="cartbox__total__area">
                    @{
                        var Tong = 0;
                        var diemso = 0;
                        @foreach (var item in Model)
                        {
                            Tong += item.GiaTong;
                            diemso = item.Cart.Customer.DiemSo;
                        }
                    <div class="cart__total__amount">

                        @if (diemso >= 10000)
                        {
                            <span>Khuyến mãi Kim cương</span>
                            <span>20%</span>
                            <span>Tổng tiền</span>
                            <span>@(Tong - Tong * 20 / 100)</span>
                        }
                        else if (diemso >= 5000)
                        {
                            <span>Khuyến mãi vàng</span>
                            <span>10%</span>
                            <span>Tổng tiền</span>
                            <span>@(Tong - Tong * 10 / 100)</span>
                        }
                        else if (diemso >= 1000)
                        {
                            <span>Khuyến mãi bạc</span>
                            <span>5%</span>
                            <span>Tổng tiền</span>
                            <span>@(Tong - Tong * 5 / 100)</span>
                        }
                        else
                        {
                            <span>0%</span>
                            <span>Tổng tiền</span>
                            <span>@Tong</span>
                        }


                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart-main-area end -->
<!-- Footer Area -->

<!-- //Footer Area -->
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('.form-group').on('input', '.prc', function () {
            var min = 1;
            $('.form-group .prc').each(function () {
               
                if ($(this).val() <= 0) {
                    $(this).val(min);
                }
            });
        });

    </script>
}

