﻿@model BookStore_Core.Models.ChiTietHoaDon
@{
    ViewData["Title"] = "DanhGia";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/VoteStar/style.css">

<div class="page-blog-details section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="blog-details content">
                    <div>
                        <br />
                        <br />
                        <dl class="row">

                            <dd class="col-sm-10">
                                <img src="~/BookImages/@Model.Sach.HinhAnh" style="height:350px; width:350px" />
                            </dd>
                        </dl>
                    </div>
                    <div class="comment_respond">
                        
                        <form asp-action="ChiTietHoaDon" method="post" class="comment__form">
                            <div id="full-stars-example-two">
                                <div class="rating-group">
                                    <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                                    <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                                    <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                                    <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                                    <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                                    <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                                    <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                                </div>
                                <p>@ViewBag.Loi</p>
                            </div>
                            <h3 class="reply_title">Đánh giá sao</h3>
                            <p style="font-family:Tahoma">Đánh giá của bạn về tác phẩm sau khi mua</p>
                            <div class="input__box">
                                <textarea name="comment" placeholder="Bình luận tại đây"></textarea>
                            </div>
                            <div class="submite__btn">
                                <button type="submit" asp-route-id="@Model.CTHDId"><a>Đánh giá</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

