﻿@model IEnumerable<BookStore_Core.Models.HoaDon>
@{
    ViewData["Title"] = "LichSuMuaHang";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="ht__bradcaump__area bg-image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Shopping Cart</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="index.html">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Shopping Cart</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- cart-main-area start -->
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <form asp-action="KetThucThanhToan">
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-thumbnail">Ngày mua</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-price">Tổng tiền</th>
                                    <th class="product-name">Xuất hóa đơn</th>
                                    <th class="product-name">Chi tiết</th>
                                    <th class="product-name">Tình trạng</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    var i = 0;
                                    @foreach (var x in Model)
                                    {
                                <tr>
                                    <td class="product-thumbnail">@x.HoaDonId</td>
                                    <td class="product-quantity">@ViewBag.SoLuong[i]</td>
                                    <td class="product-price">@x.TongTien</td>
                                    <td class="product-price">
                                        <a asp-action="XuatHoaDon" asp-controller="HoaDons" asp-route-id="@x.HoaDonId.ToString("yyyyMMddHHmmss")">In</a>
                                    </td>
                                    <td class="product-price">
                                        <a asp-action="ChiTietHoaDon" asp-controller="HoaDons" asp-route-id="@x.HoaDonId.ToString("yyyyMMddHHmmss")">xem</a>
                                    </td>
                                    @if (x.TrangThai == 0)
                                    {
                                        <td class="product-remove">
                                            Đang giao
                                        </td>
                                    }
                                    else if (x.IsDanhGia)
                                    {
                                        <td class="product-remove">
                                            Đã đánh giá tất cả sản phẩm
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="product-remove">
                                            <a asp-action="ChiTietHoaDon" asp-controller="HoaDons" asp-route-id="@x.HoaDonId.ToString("yyyyMMddHHmmss")">Chưa đánh giá</a>
                                        </td>
                                    }

                                </tr>
                                        i++;
                                    }


                                }

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
