﻿@model BookStore_Core.Models.Customer
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null || HttpContextAccessor.HttpContext.Session.GetString("UserName").Equals("") == false)
{
    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleId").Equals("2"))
    {
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout3.cshtml";
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Liên hệ với chúng tôi</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" href="/Home">Trang chủ</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Contact Area -->
        <section class="wn_contact_area bg--white pt--80 pb--80">
            @*<div class="google__map pb--80">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="googleMap"></div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12"></div>
                    <div class="col-lg-5 col-12">
                        <div class="contact-form-wrap">
                            <h2 class="contact__title">Thông tin khách hàng</h2>
                            <p>Thông tin đăng ký của bạn.</p>
                            <div class="wn__addres__wreapper">
                                <div class="single-contact-form space-between">
                                    <div class="content">
                                        <span><b>Tên khách hàng:</b></span>
                                        <p>@Model.CustomerName</p>
                                    </div>
                                    <div class="content">
                                        <span><b>Email:</b></span>
                                        <p>@Model.CustomerEmail</p>

                                    </div>
                                    <div class="content">
                                        <span><b>SĐT:</b></span>
                                        <p>@Model.Phone</p>
                                    </div>
                                </div>

                                <div class="single-contact-form space-between">
                                    <div class="content">
                                        <span><b>Địa chỉ:</b></span>
                                        <p>@Model.Address</p>
                                    </div>
                                    <div class="content">
                                        <span><b>Ngày sinh:</b></span>
                                        <p>@Model.BirthDay.ToString("MM/dd/yyyy")</p>
                                    </div>
                                    <div class="content">
                                        <span><b>Cập nhật lần cuối:</b></span>
                                        <p>@Model.LastUpdate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-btn">
                            <a asp-action="Edit" asp-route-id="@Model.CustomerId">Chỉnh sửa</a> |   <a asp-action="Index" asp-controller="Home">Về trang chủ</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
    else
    {
        ViewData["Title"] = "Details";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
        <h1>Details</h1>

        <div>
            <h4>Customer</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CustomerEmail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CustomerEmail)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BirthDay)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BirthDay)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastUpdate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastUpdate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsDel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsDel)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
}

