﻿
@model BookStore_Core.Models.Customer
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null || HttpContextAccessor.HttpContext.Session.GetString("UserName").Equals("") == false)
{
    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleId").Equals("2"))
    {
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout3.cshtml";

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">CHỈNH SỬA THÔNG TIN</h2>
                            <nav class="bradcaump-content">
                                <a class="breadcrumb_item" href="/Home">Trang chủ</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <section class="wn_contact_area bg--white pt--80 pb--80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="contact-form-wrap">
                            <h2 class="contact__title">Thay đổi thông tin muốn sửa</h2>
                            <p>Tất cả thông tin có thể sửa.</p>

                            <!-- Start Contact Area -->

                            <form id="formId" asp-action="Register" asp-controller="AccountController" method="post" class="form-horizontal">
                                <input type="hidden" asp-for="CustomerId" />
                                <input type="hidden" asp-for="CustomerEmail" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="single-contact-form space-between">
                                    <input type="text" asp-for="CustomerName" placeholder="Họ và tên*" class="form-control">
                                    <input type="number" asp-for="Phone" placeholder="Số điện thoại*" class="form-control">
                                </div>

                                <div class="single-contact-form space-between">
                                    <input type="text" asp-for="Address" placeholder="Địa chỉ" class="form-control">
                                </div>


                                <div class="single-contact-form space-between">
                                    <input type="date" asp-for="BirthDay" placeholder="Ngày sinh*" class="form-control">
                                </div>

                                <div class="contact-btn">
                                    <button type="submit">Lưu lại</button>
                                    <a asp-action="Index" asp-controller="Home">Về lại trang chủ</a>
                                </div>
                            </form>
                        </div>

                        <div class="form-output">
                            <p class="form-messege">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        ViewData["Title"] = "Edit";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


        <h1>Edit</h1>

        <h4>Customer</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CustomerId" />

                    <div class="form-group">
                        <label asp-for="CustomerName" class="control-label"></label>
                        <input asp-for="CustomerName" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerEmail" class="control-label"></label>
                        <input asp-for="CustomerEmail" class="form-control" />
                        <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDay" class="control-label"></label>
                        <input asp-for="BirthDay" class="form-control" />
                        <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastUpdate" class="control-label"></label>
                        <input asp-for="LastUpdate" class="form-control" />
                        <span asp-validation-for="LastUpdate" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDel" /> @Html.DisplayNameFor(model => model.IsDel)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    }

}