﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<BookStore_Core.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tất cả khách hàng</h6>
                       
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Mã khách hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Điểm số</th>
                                        <th>Email</th>
                                        <th>SDT</th>
                                        <th>Địa chỉ</th>
                                        <th>Sinh nhật</th>
                                        <th>Cập nhật</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Mã khách hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Điểm số</th>
                                        <th>Email</th>
                                        <th>SDT</th>
                                        <th>Địa chỉ</th>
                                        <th>Sinh nhật</th>
                                        <th>Cập nhật</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(a => item.CustomerId)</td>
                                        <td>@Html.DisplayFor(a => item.CustomerName)</td>
                                        <td>@Html.DisplayFor(a => item.DiemSo)</td>
                                        <td>@Html.DisplayFor(a => item.CustomerEmail)</td>
                                        <td>@Html.DisplayFor(a => item.Phone)</td>
                                        <td>@Html.DisplayFor(a => item.Address)</td>
                                        <td>@Html.DisplayFor(a => item.BirthDay)</td>
                                        <td>@Html.DisplayFor(a => item.LastUpdate)</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



