﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<!-- End Search Popup -->
<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Liên hệ với chúng tôi</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="/Home">Trang chủ</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Contact Area -->
<section class="wn_contact_area bg--white pt--80 pb--80">
    @*<div class="google__map pb--80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="contact-form-wrap">
                    <h2 class="contact__title">Tiếp nhận email phản hồi</h2>
                    <p>Nội dung phản ánh này của bạn sẽ được chúng tôi ghi nhận và phản hồi trong thời gian sớm nhất có thể. Cảm ơn bạn đã góp ý</p>
                    <form id="contact-form" action="#" method="post">
                        <div class="single-contact-form space-between">
                            <input type="text" name="FirstName" placeholder="Họ*">
                            <input type="text" name="LastName" placeholder="Tên*">
                        </div>
                        <div class="single-contact-form space-between">
                            <input type="email" name="email" placeholder="Email*">
                        </div>
                        <div class="single-contact-form">
                            <input type="text" name="subject" placeholder="Nội dung*">
                        </div>
                        <div class="single-contact-form message">
                            <textarea name="message" placeholder="Ghi phản hồi của bạn tại đây.."></textarea>
                        </div>
                        <div class="contact-btn">
                            <button type="submit">Gửi Email</button>
                        </div>
                    </form>
                </div>
                <div class="form-output">
                    <p class="form-messege">
                </div>
            </div>
            <div class="col-lg-4 col-12 md-mt-40 sm-mt-40">
                <div class="wn__address">
                    <h2 class="contact__title">Địa chỉ văn phòng.</h2>
                    <p>Những thắc mắc đòi hỏi phải trao đổi trực tiếp. Lời đề nghị hợp tác hoặc bất cứ vấn đề phát sinh nào bạn hãy liên hệ với chúng tôi qua các cách sau đây</p>
                    <div class="wn__addres__wreapper">

                        <div class="single__address">
                            <i class="icon-location-pin icons"></i>
                            <div class="content">
                                <span>Địa chỉ:</span>
                                <p>155 Sư Vạn Hạnh (nối dài) Phường 13 Quận 10 HCM</p>
                            </div>
                        </div>

                        <div class="single__address">
                            <i class="icon-phone icons"></i>
                            <div class="content">
                                <span>SĐT:</span>
                                <p>0834-23-8897</p>
                            </div>
                        </div>

                        <div class="single__address">
                            <i class="icon-envelope icons"></i>
                            <div class="content">
                                <span>Email:</span>
                                <p>phulajpro@gmail.com</p>
                            </div>
                        </div>

                        <div class="single__address">
                            <i class="icon-globe icons"></i>
                            <div class="content">
                                <span>website:</span>
                                <p>716-298-1822</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

