﻿@model BookStore_Core.Models.Manager

@{
    ViewData["Title"] = "Delete";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Delete</b>
</h1>
<hr />
<h3 style="text-align: center">
    <b>Are you sure you want to delete this?</b>
</h3>
<h4 style="text-align: center">
    <b>Manager</b>
</h4>
<hr />
<div>
    <dl style="padding-left:350px" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDel)
        </dd>
    </dl>
</div>
<hr />
<form style="text-align: center" asp-action="Delete">
    <input type="hidden" asp-for="ManagerId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <b>
        <a asp-action="Index">Back to List</a>
    </b>
</form>
