﻿@model BookStore_Core.Models.Manager

@{
    ViewData["Title"] = "Details";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Details</b>
</h1>
<h4 style="text-align: center">
    <b>Manager</b>
</h4>
<hr />

<div>
    <dl style="padding-left:350px" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDel)
        </dd>
    </dl>
</div>
<hr />
<div style="text-align: center">
    <b>
        <a asp-action="Edit" asp-route-id="@Model.ManagerId">Sửa</a> |
        <a asp-action="Index" asp-controller="AdminMenus">Về trang chủ</a>
    </b>
</div>
<hr />
