﻿@model BookStore_Core.Models.Manager

@{
    ViewData["Title"] = "Edit";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Edit</b>
</h1>

<h4 style="text-align: center">
    <b>Manager</b>
</h4>
<hr />
<div style="padding-left:350px" class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManagerId" />
            <input type="hidden" asp-for="Email" />
            <div class="form-group">
                <b>
                    <label asp-for="ManagerName" class="control-label"></label>
                </b>
                <input asp-for="ManagerName" class="form-control" />
                <span asp-validation-for="ManagerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>
                    <label asp-for="Phone" class="control-label"></label>
                </b>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>
                    <label asp-for="Address" class="control-label"></label>
                </b>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>
                    <label asp-for="BirthDay" class="control-label"></label>
                </b>
                <input asp-for="BirthDay" class="form-control" />
                <span asp-validation-for="BirthDay" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDel" /> @Html.DisplayNameFor(model => model.IsDel)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" asp-route-id="@Model.ManagerId" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div style="text-align: center">
    <b><a asp-action="Index">Back to List</a></b>
</div>
<hr />

