﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<BookStore_Core.Models.Manager>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tất cả quản lý</h6>
                        <hr />
                        @if (HttpContextAccessor.HttpContext.Session.GetString("RoleId").ToString() == "1")
                        {
                            <p>
                                <a asp-action="Create">Thêm quản lý mới</a>
                            </p>
                        }
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Mã quản lý</th>
                                        <th>Tên quản lý</th>
                                        <th>Email</th>
                                        <th>SDT</th>
                                        <th>Địa chỉ</th>
                                        <th>Sinh nhật</th>
                                        <th>Cập nhật</th>
                                        @if (HttpContextAccessor.HttpContext.Session.GetString("RoleId").ToString() == "1")
                                        {
                                            <th>chỉnh sửa</th>
                                        }
                                        
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Mã quản lý</th>
                                        <th>Tên quản lý</th>
                                        <th>Email</th>
                                        <th>SDT</th>
                                        <th>Địa chỉ</th>
                                        <th>Sinh nhật</th>
                                        <th>Cập nhật</th>
                                        @if (HttpContextAccessor.HttpContext.Session.GetString("RoleId").ToString() == "1")
                                        {
                                            <th>chỉnh sửa</th>
                                        }
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(a => item.ManagerId)</td>
                                        <td>@Html.DisplayFor(a => item.ManagerName)</td>
                                        <td>@Html.DisplayFor(a => item.Email)</td>
                                        <td>@Html.DisplayFor(a => item.Phone)</td>
                                        <td>@Html.DisplayFor(a => item.Address)</td>
                                        <td>@Html.DisplayFor(a => item.BirthDay)</td>

                                        <td>@Html.DisplayFor(a => item.LastUpdate)</td>
                                        @if (HttpContextAccessor.HttpContext.Session.GetString("RoleId").ToString() == "1")
                                        {
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ManagerId">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.ManagerId">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ManagerId">Delete</a>
                                            </td>
                                        }
                                        
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



