﻿@model IEnumerable<BookStore_Core.Models.TacGia>
@{
    Layout = null;
}

@{ var dem = 0;
    @foreach (var x in Model)
    {
        if (dem > 6)
        {
            break;
        }
        <li><a href="/Saches/HienThiTheoTacGia/@x.TacGiaId">@x.TenTacGia</a></li>
        dem++;
    }
}
<li><a class="shopbtn" href="/Saches/HienThiTatCaTacGia">Xem thêm</a></li>

