﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <seo-title />
    <seo-link-canonical/>
    <seo-meta-description />
    <seo-meta-keywords/>
    <seo-meta-robots-index />

    <meta name="google-site-verification" content="yW8T7XUGjN8X6pmIq7jbjheGoMR6UqYmZuVFMsH3sAg" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cửa hàng sách</title>
    <meta name="description" content="Cua hang sach">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="quanlywebbansach, bansachsomee, bookcoresomee" />
    <link rel="canonical" href="http://bookstorecore.somee.com" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Template/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/Template/images/icon.png">

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Template/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template/css/plugins.css">
    <link rel="stylesheet" href="~/Template/style.css">

    <!-- Cusom css -->
    <link rel="stylesheet" href="~/Template/css/custom.css">

    <!-- Modernizer js -->
    <script src="~/Template/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <header id="wn__header" class="header__area header__absolute sticky__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <div class="logo">
                            <a href="/Home/Index">
                                <img src="~/Template/images/logo/logo.png" alt="logo images">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu__nav">
                            <ul class="meninmenu d-flex justify-content-start">
                                <li class="drop with--one--item"><a href="/Home/Index">Trang chủ</a></li>
                                <li class="drop">
                                    <a href="shop-grid.html">Sách</a>
                                    <div class="megamenu mega02">
                                        <ul class="item item03">
                                            <li class="title">Thể loại</li>
                                            @await Component.InvokeAsync("CategoryMenu")
                                        </ul>
                                        <ul class="item item03">
                                            <li class="title">Tác giả</li>
                                            @await Component.InvokeAsync("TacGiaMenu")
                                        </ul>

                                    </div>
                                </li>
                                <li><a href="/LienHe/Index">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                            <li class="shop_search"><a class="search__active" href="#"></a></li>
                            <li style="width: 24px"></li>
                            @* <li class="wishlist"><a href="#"></a></li>*@
                            <li class="shopcart">
                                <!-- Start shopping cart-->
                                @await Component.InvokeAsync("ShoppingCartSummary")
                                <!-- End Shopping Cart -->
                            </li>
                            <li>@await Component.InvokeAsync("LoginMenu")</li>

                        </ul>
                    </div>
                </div>
                <!-- Start Mobile Menu -->
                <!-- Mobile Menu -->
            </div>
        </header>
        <div class="box-search-content search_active block-bg close__top">
            <form id="search_mini_form" class="minisearch" asp-action="Timtheoten2" asp-controller="Saches">
                <div class="field__search">
                    <input type="text" name="searchName" placeholder="Nhập tên sách muốn tìm" id="search">

                    <div class="action">
                        <input type="submit" value="Tìm" />
                        @*<a href="Saches/TimTheoTen/@x"><i class="zmdi zmdi-search"></i></a>*@

                    </div>
                </div>
            </form>
            <div class="close__wrap">
                <span>close</span>
            </div>
        </div>
        @RenderBody()
        <footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
            <div class="footer-static-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer__widget footer__menu">
                                <div class="ft__logo">
                                    <a href="/Home">
                                        <img src="~/Template/images/logo/3.png" alt="logo">
                                    </a>
                                    <p>Ghé thăm website thường xuyên để không bỏ lỡ cuốn sách hay nào</p>
                                </div>
                                <div class="footer__content">
                                    <ul class="social__net social__net--2 d-flex justify-content-center">
                                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="#"><i class="bi bi-google"></i></a></li>
                                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                    </ul>
                                    <ul class="mainmenu d-flex justify-content-center">
                                        <li><a href="index.html">Khuyến mãi</a></li>
                                        <li><a href="index.html">Bán chạy nhất</a></li>
                                        <li><a href="index.html">Tất cả sách</a></li>
                                        <li><a href="/LienHe/Index">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright__wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">
                                <div class="copy__right__inner text-left">
                                    <p>Copyright <i class="fa fa-copyright"></i> <a href="https://freethemescloud.com/">Free themes Cloud.</a> All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="payment text-right">
                                <img src="~/Template/images/icons/payment.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Template/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/Template/js/popper.min.js"></script>
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script src="~/Template/js/plugins.js"></script>
    <script src="~/Template/js/active.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
