﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-0">
                @* @using (Html.BeginForm("Login", "Home", FormMethod.Post))*@
                @* @Html.AntiForgeryToken()*@
                <form asp-action="Login" class="login100-form validate-form">
                    <span class="login100-form-title p-t-20 p-b-45">
                        Đăng nhập
                    </span>
                    @*<div asp-validation-summary="All" class="text-danger" />*@
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Email bắt buộc">
                        <input class="input100" type="text" name="LoginName" id="LoginName" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Mật khẩu bắt buộc">
                        <input class="input100" type="password" name="password" id="password" placeholder="Mật khẩu">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    @*<div class="wrap-input100 validate-input m-b-10" data-validate="Mật khẩu is required">
                            <input class="input100" type="password" name="password" id="password" placeholder="Nhập lại mật khẩu">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>*@
                    <div class="container-login100-form-btn p-t-10">
                        <input type="submit" value="Đăng nhập" class="login100-form-btn">
                    </div>
                    <div class="text-center w-full p-t-25 p-b-80">
                            @Html.ActionLink("Forgot Password?", "ForgotPassword", "ForgotPassword")
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>
</body>
</html>
