﻿
@model BookStore_Core.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}



<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">ĐĂNG KÝ</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="/Home">Trang chủ</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<section class="wn_contact_area bg--white pt--80 pb--80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="contact-form-wrap">
                    <h2 class="contact__title">ĐĂNG KÝ TÀI KHOẢN TẠI ĐÂY</h2>
                    <p>Những thông tin của bạn sẽ được bảo mật.</p>
                    
                    <!-- Start Contact Area -->

                    <form id="formId" asp-action="Register" asp-controller="AccountController" method="post" class="form-horizontal">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="single-contact-form space-between">
                            <input type="text" asp-for="Customer.CustomerName" placeholder="Họ và tên*" class="form-control">
                            <input type="number" asp-for="Customer.Phone" placeholder="Số điện thoại*" class="form-control">
                        </div>

                        <div class="single-contact-form space-between">
                            <input type="email" asp-for="Customer.CustomerEmail" placeholder="Email*" class="form-control">
                            <input type="text" asp-for="Customer.Address" placeholder="Địa chỉ" class="form-control">
                        </div>


                        <div class="single-contact-form space-between">
                            <input type="date" asp-for="Customer.BirthDay" placeholder="Ngày sinh*" class="form-control">
                        </div>
                        <div class="single-contact-form space-between">
                            <input type="password" asp-for="Login.Password" placeholder="Mật khẩu*" class="form-control">
                        </div>
                        <div class="single-contact-form space-between">
                            <input type="password" asp-for="ConfirmPass" placeholder="Nhập lại mật khẩu*" class="form-control">
                        </div>
                        <div class="contact-btn">
                            <button type="submit">Đăng ký</button>
                        </div>
                    </form>
                </div>
                <div class="form-output">
                    <p class="form-messege">
                </div>
            </div>
        </div>
    </div>
</section>
