﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XacNhanTaiKhoan</title>
</head>
<body>
    @Html.ActionLink("Đăng nhập", "Login", "Account")
</body>
</html>
