﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<BookStore_Core.Models.SachViewModel>
@{
    Layout = "/Views/Shared/_Layout3.cshtml";
}

<!-- Start Slider area -->
<div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">

    @for (int i = 0; i < 3; i++)
    {
        <div class="slide animation__style10 bg-image--7 fullscreen align__center--left" style="background-image:url('../BookImages/Image/@ViewBag.KhuyenMai[i].HinhAnh')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
                            <div class="contentbox">
                                <a class="shopbtn" href="#">mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- End Slider area -->
<!-- Start BEst Seller Area -->
<section class="wn__product__area brown--color pt--80  pb--30" style="background-color:#f0f0f0">
    <div class="container" style="background-color:#f8f8f8">
        <div class="row" >
            <div style="margin-top:40px" class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">Sách <span class="color--theme">Mới</span></h2>
                    <p>Những tựa sách được nhập trong 2 tháng gần đây với những ưu đãi hấp dẫn.</p>
                </div>
            </div>
        </div>
        <!-- Start Single Tab Content -->
        <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
            @foreach (var i in Model)
            {
                if (i.TrangThai == "Mới")
                {

                    <div class="product product__style--3">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12" >
                            <div class="product__thumb">
                                <a class="first__img" asp-action="Details" asp-controller="Saches"><img src="~/BookImages/@i.Sach.HinhAnh" width="250" height="250" alt="product image"></a>
                                <a class="second__img animation1" asp-action="Details" asp-controller="Saches" asp-route-id="@i.Sach.SachId"><img src="~/BookImages/@i.Sach.HinhAnh" alt="product image"></a>
                                <div class="hot__box">
                                    @if (i.BangGia.PhanTramKhuyenMai > 0)
                                    {
                                        <span class="hot-label">@i.BangGia.PhanTramKhuyenMai %</span>
                                    }
                                    else
                                    {
                                        <span class="hot-label">Mới</span>
                                    }
                                </div>
                            </div>
                            <div class="product__content content--center">
                                <h4><a style="font-family:Tahoma">@i.Sach.TenSach</a></h4>
                                <ul class="prize d-flex">
                                    @if (i.BangGia.PhanTramKhuyenMai > 0)
                                    {
                                        <li>@(i.BangGia.DonGia - i.BangGia.PhanTramKhuyenMai * i.BangGia.DonGia / 100)  VND</li>
                                        <li class="old_prize">@i.BangGia.DonGia</li>
                                    }
                                    else
                                    {
                                        <li>@i.BangGia.DonGia VND</li>
                                    }

                                </ul>
                                <div class="action">
                                    <div class="actions_inner">
                                        <ul class="add_to_links">
                                            <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                                            <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                            <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product__hover--content">
                                    <ul class="rating d-flex">
                                        @for (int k = 0; k < i.Sach.SaoTrungBinh; k++)
                                        {
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                        }
                                        @for (int k = 0; k < 5 - i.Sach.SaoTrungBinh; k++)
                                        {
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
        <!-- End Single Tab Content -->
        @*<a class="shopbtn" href="#">xem thêm</a>*@
    </div>
</section>


<!-- Start BEst Seller Area -->
<!-- Start NEwsletter Area -->
<section class="wn__newsletter__area bg-image--2" style="background-image:url('http://demo.devitems.com/boighor-v3/images/bg/2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
                <div class="section__title text-center">
                    <h2>Đăng ký nhận thông báo</h2>
                </div>
                <div class="newsletter__block text-center">
                    <p>Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers.</p>
                    <form action="#">
                        <div class="newsletter__box">
                            <input type="email" placeholder="Enter your e-mail">
                            <button>Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- End NEwsletter Area -->
<!-- Start Best Seller Area -->
<section class="wn__bestseller__area bg--white pt--80  pb--30" style="background-color:#f0f0f0">
    <div class="container" style="background-color:#f8f8f8">
        <div class="row" >
            <div style="margin-top:40px" class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">Tất cả <span class="color--theme">sách</span></h2>
                    <p>Tất cả sách hiện đang được bày bán tại website</p>
                </div>
            </div>
        </div>
        <div class="row mt--50" >
            <div class="col-md-12 col-lg-12 col-sm-12" >
                <div class="product__nav nav justify-content-center" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-all" role="tab">ALL</a>
                    @*<a class="nav-item nav-link" data-toggle="tab" href="#nav-biographic" role="tab">BIOGRAPHIC</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-adventure" role="tab">ADVENTURE</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-children" role="tab">CHILDREN</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-cook" role="tab">COOK</a>*@
                </div>
            </div>
        </div>
        <div class="tab__container mt--60">
            <!-- Start Single Tab Content -->
            <div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel"  >
                <div class="product__indicator--4 arrows_style owl-carousel owl-theme" style="margin-top:10px">
                    @{
                        @for (int i = 0; i < Model.Count(); i = i + 2)
                        {
                            <div class="single__product">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product product__style--3">
                                        <div class="product__thumb">
                                            <a class="first__img" href="/Saches/Details/@ViewBag.sachs[i].Sach.SachId"><img width="270" height="340" src="~/BookImages/@ViewBag.sachs[i].Sach.HinhAnh" alt="product image"></a>
                                            <a class="second__img animation1" href="/Saches/Details/@ViewBag.sachs[i].Sach.SachId"><img width="270" height="340" src="~/BookImages/@ViewBag.sachs[i].Sach.HinhAnh" alt="product image"></a>
                                            <div class="hot__box">
                                                @if (ViewBag.sachs[i].BangGia.PhanTramKhuyenMai > 0)
                                                {
                                                    <span class="hot-label">@ViewBag.sachs[i].BangGia.PhanTramKhuyenMai %</span>
                                                }
                                                else
                                                {
                                                    <span class="hot-label">Mới</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="product__content content--center content--center">
                                            <h4><a href="single-product.html">@ViewBag.sachs[i].Sach.TenSach</a></h4>
                                            <ul class="prize d-flex">
                                                @if (ViewBag.sachs[i].BangGia.PhanTramKhuyenMai > 0)
                                                {
                                                    <li>@(ViewBag.sachs[i].BangGia.DonGia - ViewBag.sachs[i].BangGia.PhanTramKhuyenMai * ViewBag.sachs[i].BangGia.DonGia / 100)  VND</li>
                                                    <li class="old_prize">@ViewBag.sachs[i].BangGia.DonGia</li>
                                                }
                                                else
                                                {
                                                    <li>@ViewBag.sachs[i].BangGia.DonGia VND</li>
                                                }
                                            </ul>
                                            <div class="action">
                                                <div class="actions_inner">
                                                    <ul class="add_to_links">
                                                        <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                                                        <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__hover--content">
                                                <ul class="rating d-flex">
                                                    @for (int k = 0; k < ViewBag.sachs[i].Sach.SaoTrungBinh; k++)
                                                    {
                                                        <li class="on"><i class="fa fa-star-o"></i></li>
                                                    }
                                                    @for (int k = 0; k < 5 - ViewBag.sachs[i].Sach.SaoTrungBinh; k++)
                                                    {
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (i < Model.Count() - 1)
                                {
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                        <div class="product product__style--3">
                                            <div class="product__thumb">
                                                <a class="first__img" href="/Saches/Details/@ViewBag.sachs[i + 1].Sach.SachId"><img width="270" height="340" src="~/BookImages/@ViewBag.sachs[i + 1].Sach.HinhAnh" alt="product image"></a>
                                                <a class="second__img animation1" href="/Saches/Details/@ViewBag.sachs[i + 1].Sach.SachId"><img width="270" height="340" src="~/BookImages/@ViewBag.sachs[i + 1].Sach.HinhAnh" alt="product image"></a>
                                                <div class="hot__box">
                                                    @if (ViewBag.sachs[i + 1].BangGia.PhanTramKhuyenMai > 0)
                                                    {
                                                        <span class="hot-label">@ViewBag.sachs[i + 1].BangGia.PhanTramKhuyenMai %</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="hot-label">Mới</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="product__content content--center content--center">
                                                <h4><a href="single-product.html">@ViewBag.sachs[i + 1].Sach.TenSach</a></h4>
                                                <ul class="prize d-flex">
                                                    @if (ViewBag.sachs[i + 1].BangGia.PhanTramKhuyenMai > 0)
                                                    {
                                                        <li>@(ViewBag.sachs[i + 1].BangGia.DonGia - ViewBag.sachs[i + 1].BangGia.PhanTramKhuyenMai * ViewBag.sachs[i + 1].BangGia.DonGia / 100)  VND</li>
                                                        <li class="old_prize">@ViewBag.sachs[i + 1].BangGia.DonGia</li>
                                                    }
                                                    else
                                                    {
                                                        <li>@ViewBag.sachs[i + 1].BangGia.DonGia VND</li>
                                                    }
                                                </ul>
                                                <div class="action">
                                                    <div class="actions_inner">
                                                        <ul class="add_to_links">
                                                            <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                                                            <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                            <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product__hover--content">
                                                    <ul class="rating d-flex">
                                                        @for (int k = 0; k < ViewBag.sachs[i + 1].Sach.SaoTrungBinh; k++)
                                                        {
                                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                                        }
                                                        @for (int k = 0; k < 5 - ViewBag.sachs[i + 1].Sach.SaoTrungBinh; k++)
                                                        {
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        }
                    }
                </div>
            </div>
            <!-- End Single Tab Content -->
        </div>
    </div>
</section>

<hr />
<hr />
<hr />
<hr />
<!-- Start BEst Seller Area -->
<section class="wn__product__area brown--color pt--80  pb--30" style="background-color:#f0f0f0">
    <div class="container" style="background-color:#f8f8f8">
        <div class="row">
            <div style="margin-top:40px" class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">Sách <span class="color--theme">Bán Chạy</span></h2>
                    <p>Những tựa sách được khách hàng ưu chuộng nhất trong năm nay</p>
                </div>
            </div>
        </div>
        <!-- Start Single Tab Content -->
        <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
            @foreach (var i in Model)
            {
                if (i.SoSachBanDuoc > 20)
                {
                    <div class="product product__style--3">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="product__thumb">
                                <a class="first__img" asp-action="Details" asp-controller="Saches"><img src="~/BookImages/@i.Sach.HinhAnh" width="250" height="250" alt="product image"></a>
                                <a class="second__img animation1" asp-action="Details" asp-controller="Saches" asp-route-id="@i.Sach.SachId"><img src="~/BookImages/@i.Sach.HinhAnh" alt="product image"></a>
                                <div class="hot__box">
                                    @if (i.BangGia.PhanTramKhuyenMai > 0)
                                    {
                                        <span class="hot-label">BestSeller @i.BangGia.PhanTramKhuyenMai %</span>
                                    }
                                    else
                                    {
                                        <span class="hot-label">BestSeller</span>
                                    }
                                </div>
                            </div>
                            <div class="product__content content--center">
                                <h4><a style="font-family:Tahoma">@i.Sach.TenSach</a></h4>
                                <ul class="prize d-flex">
                                    @if (i.BangGia.PhanTramKhuyenMai > 0)
                                    {
                                        <li>@(i.BangGia.DonGia - i.BangGia.PhanTramKhuyenMai * i.BangGia.DonGia / 100)  VND</li>
                                        <li class="old_prize">@i.BangGia.DonGia</li>
                                    }
                                    else
                                    {
                                        <li>@i.BangGia.DonGia VND</li>
                                    }

                                </ul>
                                <div class="action">
                                    <div class="actions_inner">
                                        <ul class="add_to_links">
                                            <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                                            <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                            <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product__hover--content">
                                    <ul class="rating d-flex">
                                        @for (int k = 0; k < i.Sach.SaoTrungBinh; k++)
                                        {
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                        }
                                        @for (int k = 0; k < 5 - i.Sach.SaoTrungBinh; k++)
                                        {
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <!-- End Single Tab Content -->
        @*<a class="shopbtn" href="#">xem thêm</a>*@
    </div>
</section>
<hr />
<hr />
<hr />
<hr />

<!-- Best Sale Area -->
<section class="best-seel-area pt--80 pb--60" style="background-color:#f0f0f0">
    <div class="container" style="background-color:#f8f8f8">
        <div class="row">
            <div style="margin-top:40px" class="col-lg-12">
                <div class="section__title text-center pb--50">
                    <h2 class="title__be--2">Khuyến <span class="color--theme">Mãi </span></h2>
                    <p>Khuyến mãi hấp dẫn ngay tại đây.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider center">
        @foreach (var i in Model)
        {
            if (i.BangGia.PhanTramKhuyenMai > 0)
            {
                <div class="product product__style--3">
                    <div class="product__thumb">
                        <a class="first__img" href="/Saches/Details/@i.Sach.SachId"><img style="width:304px; height:384px" src="~/BookImages/@i.Sach.HinhAnh" alt="product image"></a>
                    </div>
                    <div class="product__content content--center">
                        <div class="action">
                            <div class="actions_inner">
                                <ul class="add_to_links">
                                    <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                                    <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                    <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                    <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__hover--content">
                            <ul class="rating d-flex">
                                @for (int k = 0; k < i.Sach.SaoTrungBinh; k++)
                                {
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                }
                                @for (int k = 0; k < 5 - i.Sach.SaoTrungBinh; k++)
                                {
                                    <li><i class="fa fa-star-o"></i></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
</section>
<!-- Best Sale Area Area -->
<!-- //Footer Area -->

