﻿@model BookStore_Core.Models.Login
@{
    Layout = null;
}
    <li class="setting__bar__icon">
        <a class="setting__active" href="#"></a>
        <div class="searchbar__content setting__block">
            <div class="content-inner">

                @if (Model.RoleId == 1 || Model.RoleId == 3)
                {
                    <div class="switcher-currency">
                        <strong class="label switcher-label">
                            <span>@Model.LoginName</span>
                        </strong>
                        <div class="switcher-options">
                            <div class="switcher-currency-trigger">
                                <a asp-action="Index" asp-controller="AdminMenus" asp-area="Admin"><span class="currency-trigger">Vào trang admin</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="switcher-currency">
                        <div class="switcher-options">
                            <div class="switcher-currency-trigger">
                                <span class="currency-trigger"><strong>Tài khoản</strong></span>
                                <ul class="switcher-dropdown">
                                    <li><a asp-action="LogOut" asp-controller="Account">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.RoleId == 2)
                {
                    <div class="switcher-currency">
                        <strong class="label switcher-label">
                            <span>@Model.LoginName</span>
                        </strong>
                        <div class="switcher-options">
                            <div class="switcher-currency-trigger">
                                <span class="currency-trigger">Tài khoản</span>
                                <ul class="switcher-dropdown">
                                    <li><a asp-action="LogOut" asp-controller="Account">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="switcher-currency">
                        <div class="switcher-options">
                            <div class="switcher-currency-trigger">
                                <span class="currency-trigger"> <strong>Lịch sử</strong></span>
                                <ul class="switcher-dropdown">
                                    <li><a asp-action="LichSuMuaHang" asp-controller="HoaDons" asp-route-id="@Model.LoginName">Lịch sử mua hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="switcher-currency">
                        <strong class="label switcher-label">
                            <span>Điểm số khách hàng: @ViewBag.Diem</span>
                        </strong>
                        @*<div class="switcher-options">
                    <div class="switcher-currency-trigger">
                        <span class="currency-trigger">Fashion Store</span>
                        <ul class="switcher-dropdown">
                            <li>Furniture</li>
                            <li>Shoes</li>
                            <li>Speaker Store</li>
                            <li>Furniture</li>
                        </ul>
                    </div>
                </div>*@
                    </div>
                    <div class="switcher-currency">
                        <strong class="label switcher-label">
                            <a asp-area="Admin" asp-action="Details" asp-controller="Customers" asp-route-id="@Model.LoginName"><span>Thông tin tài khoản</span></a>
                        </strong>
                        @*<div class="switcher-options">
                    <div class="switcher-currency-trigger">
                        <div class="setting__menu">
                            <span><a href="#">Compare Product</a></span>
                            <span><a href="#">My Account</a></span>
                            <span><a href="#">My Wishlist</a></span>
                            <span><a href="#">Sign In</a></span>
                            <span><a href="#">Create An Account</a></span>
                        </div>
                    </div>
                </div>*@
                    </div>
                }
                else
                {
                    <div class="switcher-currency">
                        <strong class="label switcher-label">
                            <span>Người dùng</span>
                        </strong>
                        <div class="switcher-options">
                            <div class="switcher-currency-trigger">
                                <span class="currency-trigger">Tài khoản</span>
                                <ul class="switcher-dropdown">
                                    <li><a asp-action="Login" asp-controller="Account">Đăng nhập</a></li>
                                    <li><a asp-action="Register" asp-controller="Account">Đăng ký</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </li>

