﻿@model IEnumerable<BookStore_Core.Models.SachViewModel>

    @{
        ViewData["Title"] = "ApDungKhuyenMai";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }

    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Chi tiết khuyến mãi</h6>
                            <hr />
                            
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Mã sách</th>
                                            <th>Tên sách</th>
                                            <th>Hình ảnh</th>
                                            <th>Thuộc khuyến mãi</th>
                                            <th>Chỉnh sửa</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Mã sách</th>
                                            <th>Tên sách</th>
                                            <th>Hình ảnh</th>
                                            <th>Thuộc khuyến mãi</th>
                                            <th>Chỉnh sửa</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@Html.DisplayFor(a => item.Sach.SachId)</td>
                                            <td>@Html.DisplayFor(a => item.Sach.TenSach)</td>
                                            <td>
                                                <img src="~/BookImages/@item.Sach.HinhAnh" style="height:100px; width:60px" />
                                            </td>
                                            @if (item.BangGia.MaKhuyenMaiId == null)
                                            {
                                                <td>Chưa có khuyến mãi</td>
                                            }
                                            else
                                            {
                                                <td>@Html.DisplayFor(a => item.BangGia.KhuyenMai.TenKhuyenMai)</td>
                                            }
                                        <td>
                                            @if (item.BangGia.MaKhuyenMaiId != null)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Sach.SachId">Sửa</a>
                                                <a asp-action="Details" asp-route-id="@item.Sach.SachId">Chi tiết</a>
                                                <a asp-action="Delete" asp-route-id="@item.Sach.SachId">Xóa</a>
                                            }
                                            else
                                            {
                                                <a asp-action="Create" asp-route-id="@item.Sach.SachId">Áp dụng khuyến mãi</a>
                                            }

                                        </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


