﻿@model BookStore_Core.Models.BangGia

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Áp dụng khuyến mãi</b>
</h1>

<h4 style="text-align: center">
    <b>Cho sách</b> @Model.Sach.TenSach
</h4>
<hr />
<div style="padding-left:350px" class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BangGiaId" />
            <input type="hidden" asp-for="SachId" />
            <div class="form-group">
                <b>
                    <label asp-for="PhanTramKhuyenMai" class="control-label"></label>
                </b>
                <input asp-for="PhanTramKhuyenMai" class="form-control" />
                <span asp-validation-for="PhanTramKhuyenMai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <b>
                    <label asp-for="MaKhuyenMaiId" class="control-label">Thể loại</label>
                </b>
                <select asp-for="MaKhuyenMaiId" class="form-control" asp-items="ViewBag.KhuyenMai"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div style="text-align: center">
    <b><a asp-action="Index">Back to List</a></b>
</div>

