﻿@model BookStore_Core.Models.KhuyenMai

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <h1 style="text-align: center">
        <b>Delete</b>
    </h1>
<hr />

<h3 style="text-align: center">
    <b>Are you sure you want to delete this?</b>
</h3>
<h4 style="text-align: center">
    <b>KhuyenMai</b>
</h4>
<hr />

<div>
    <dl style="padding-left:350px" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhuyenMai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenKhuyenMai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDonToiThieu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoaDonToiThieu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongSpCungLoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuongSpCungLoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongSpKhacLoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuongSpKhacLoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>

<hr />
<form style="text-align: center" asp-action="Delete">
    <input type="hidden" asp-for="MaKhuyenMaiId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <b>
        <a  asp-action="Index">Back to List</a>
    </b>
</form>
