﻿@model BookStore_Core.Models.KhuyenMai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Details</b>
</h1>
<h4 style="text-align: center">
    <b>KhuyenMai</b>
</h4>
<hr />
<div >
    <dl style="padding-left:450px" class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhuyenMai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhuyenMai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoaDonToiThieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoaDonToiThieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongSpCungLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongSpCungLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongSpKhacLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongSpKhacLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<hr />
<div style="text-align: center">
    <b>
        <a asp-action="Edit" asp-route-id="@Model.MaKhuyenMaiId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </b>
    <hr />
</div>
