﻿@model BookStore_Core.Models.KhuyenMai

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Edit</b>
</h1>

<h4 style="text-align: center">
    <b>KhuyenMai</b>
</h4>
<hr />
<div style="padding-left:350px" class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaKhuyenMaiId" />
            <div class="form-group">
                <b><label asp-for="NgayBatDau" class="control-label"></label></b>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="NgayKetThuc" class="control-label"></label></b>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="TenKhuyenMai" class="control-label"></label></b>
                <input asp-for="TenKhuyenMai" class="form-control" />
                <span asp-validation-for="TenKhuyenMai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="HoaDonToiThieu" class="control-label"></label></b>
                <input asp-for="HoaDonToiThieu" class="form-control" />
                <span asp-validation-for="HoaDonToiThieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="SoLuongSpCungLoai" class="control-label"></label></b>
                <input asp-for="SoLuongSpCungLoai" class="form-control" />
                <span asp-validation-for="SoLuongSpCungLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="SoLuongSpKhacLoai" class="control-label"></label></b>
                <input asp-for="SoLuongSpKhacLoai" class="form-control" />
                <span asp-validation-for="SoLuongSpKhacLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="HinhAnh" class="control-label"></label></b>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <b>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                    </label>
                </b>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div style="text-align: center">
    <b><a asp-action="Index">Back to List</a></b>
</div>
<hr />

