﻿@model BookStore_Core.Models.KhuyenMai
@{
    ViewData["Title"] = "TaoKhuyenMai";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Tạo khuyến mãi mới</b>
</h1>

<hr />
<div style="padding-left:350px">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="TaoKhuyenMai">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MaKhuyenMaiId" />
                <div class="form-group">
                    <b>
                        <label asp-for="TenKhuyenMai" class="control-label">Tên khuyến mãi</label>
                    </b>
                    <input asp-for="TenKhuyenMai" class="form-control" />
                    <span asp-validation-for="TenKhuyenMai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>
                        <label asp-for="NgayBatDau" class="control-label">Ngày bắt đầu</label>
                    </b>
                    <input type="date" asp-for="NgayBatDau" class="form-control" />
                    <span asp-validation-for="NgayBatDau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b>
                        <label asp-for="NgayKetThuc" class="control-label">Ngày kết thúc</label>
                    </b>
                    <input type="date" asp-for="NgayKetThuc" class="form-control" />
                    <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<hr />
<div style="text-align: center">
    <b><a asp-action="Index">Back to List</a></b>
</div>

