﻿@model BookStore_Core.ViewModel.ThemSachViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <h1 style="text-align: center">
        <b>Thêm sách</b>
    </h1>

<hr />

<div class="row" style="margin-left:350px">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="SachesController" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <b>
                    <label asp-for="Sach.TenSach" class="control-label"></label>
                </b>
                <input asp-for="Sach.TenSach" class="form-control" />
                <span asp-validation-for="Sach.TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>
                    <label class="control-label">Hình ảnh</label>
                </b>
                <input asp-for="file" type="file" id="file" name="file" onchange="return fileValidation()" />
                <span asp-validation-for="file" class="text-danger"></span>
            </div>
            <div class="form-group" id="imagePreview">
                <b>
                    <label class="control-label">Xem trước</label>
                </b>
            </div>
            <div class="form-group">
                <div id="imagePreview"></div>
            </div>
            <div class="form-group">
                <b>
                    <label asp-for="Sach.LoaiSachCTId" class="control-label">Thể loại</label>
                </b>
                <select asp-for="Sach.LoaiSachCTId" class="form-control" asp-items="ViewBag.LoaiSachCTId"></select>
            </div>
            <div class="form-group">
                <b>
                    <label asp-for="Sach.TacGiaId" class="control-label">Tác giả</label>
                </b>
                <select asp-for="Sach.TacGiaId" class="form-control" asp-items="ViewBag.TacGiaId"></select>
            </div>
            <div class="form-group">
                <b>
                    <label asp-for="BangGia.DonGia" class="control-label"></label>
                </b>
                <input asp-for="BangGia.DonGia" class="form-control" />
                <span asp-validation-for="BangGia.DonGia" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <b>
                    <label asp-for="Sach.MoTa" class="control-label"></label>
                </b>
                <textarea asp-for="Sach.MoTa" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <b>
                    <label class="control-label">Ảnh nhỏ</label>
                </b>
                <input type="file" id="file1" name="file1" onchange="return fileValidation1()" />
            </div>
            <div class="form-group" id="imagePreview1">
                <b>
                    <label class="control-label">Xem trước</label>
                </b>
            </div>
            <div class="form-group">
                <b>
                    <label class="control-label">Ảnh nhỏ</label>
                </b>
                <input type="file" id="file2" name="file2" onchange="return fileValidation2()" />
            </div>
            <div class="form-group" id="imagePreview2">
                <b>
                    <label class="control-label">Xem trước</label>
                </b>
            </div>
            <div class="form-group">
                <b>
                    <label class="control-label">Ảnh nhỏ</label>
                </b>
                <input type="file" id="file3" name="file3" onchange="return fileValidation3()" />
            </div>
            <div class="form-group" id="imagePreview3">
                <b>
                    <label class="control-label">Xem trước</label>
                </b>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div style="text-align: center">
    <b><a asp-action="Index">Trở lại</a></b>
</div>




<script>
    function fileValidation() {
        var fileInput = document.getElementById('file');
        var filePath = fileInput.value;//lấy giá trị input theo id
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
        //Kiểm tra định dạng
        if (!allowedExtensions.exec(filePath)) {
            var danger = document.getElementById('danger')
            alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.')
            fileInput.value = '';
            return false;
        }
        else {
            //Image preview
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('imagePreview').innerHTML = '<img style="width:250px;height:300px;" src="' + e.target.result + '"/>';
                };
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }
    function fileValidation1() {
        var fileInput = document.getElementById('file1');
        var filePath = fileInput.value;//lấy giá trị input theo id
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
        //Kiểm tra định dạng
        if (!allowedExtensions.exec(filePath)) {
            var danger = document.getElementById('danger')
            alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.')
            fileInput.value = '';
            return false;
        }
        else {
            //Image preview
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('imagePreview1').innerHTML = '<img style="width:250px;height:300px;" src="' + e.target.result + '"/>';
                };
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }
    function fileValidation2() {
        var fileInput = document.getElementById('file2');
        var filePath = fileInput.value;//lấy giá trị input theo id
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
        //Kiểm tra định dạng
        if (!allowedExtensions.exec(filePath)) {
            var danger = document.getElementById('danger')
            alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.')
            fileInput.value = '';
            return false;
        }
        else {
            //Image preview
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('imagePreview2').innerHTML = '<img style="width:250px;height:300px;" src="' + e.target.result + '"/>';
                };
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }
    function fileValidation3() {
        var fileInput = document.getElementById('file3');
        var filePath = fileInput.value;//lấy giá trị input theo id
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
        //Kiểm tra định dạng
        if (!allowedExtensions.exec(filePath)) {
            var danger = document.getElementById('danger')
            alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.')
            fileInput.value = '';
            return false;
        }
        else {
            //Image preview
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('imagePreview3').innerHTML = '<img style="width:250px;height:300px;" src="' + e.target.result + '"/>';
                };
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }
</script>