﻿@model BookStore_Core.Models.Sach

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <h1 style="text-align: center">
        <b>Delete</b>
    </h1>
<hr />

<h3 style="text-align: center">
    <b>Are you sure you want to delete this?</b>
</h3>
<h4 style="text-align: center">
    <b>Sach</b>
</h4>
<hr />
<div>

    <dl style="padding-left:350px" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LuotXem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LuotXem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiSachCuThe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoaiSachCuThe.TenLoaiSachCT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TacGia.TenTacGia)
        </dd>
    </dl>
</div>

<hr />
<form style="text-align: center" asp-action="Delete">
    <input type="hidden" asp-for="SachId" />
    <input type="submit" value="Delete" asp-route-id="@Model.SachId" class="btn btn-danger" /> |
    <b><a asp-action="Index">Back to List</a></b>
</form>
