﻿@model BookStore_Core.Models.SachViewModel

@{
    ViewData["Title"] = "Chi tiết sách";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Chi tiết</b>
</h1>
<h4 style="text-align: center">-----
    <b>Sách</b>
</h4>
<hr />
<div>
    <dl style="padding-left:200px" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sach.LuotXem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sach.LuotXem)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Sach.HinhAnh)
        </dt>
        <dd class="col-sm-10">
            <img src="~/BookImages/@Model.Sach.HinhAnh" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sach.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sach.MoTa)
        </dd>
        <dt class="col-sm-2">
           Loại sách
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sach.LoaiSachCuThe.TenLoaiSachCT)
        </dd>

        <dt class="col-sm-2">
            Tác giả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sach.TacGia.TenTacGia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BangGia.DonGia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BangGia.DonGia) VND
        </dd>
        <dt class="col-sm-2">
           Thuộc khuyến mãi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BangGia.KhuyenMai.TenKhuyenMai)
        </dd>

        <dt class="col-sm-2">
            Khuyến mãi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BangGia.PhanTramKhuyenMai) %
        </dd>

        @foreach (var x in Model.AnhPhus)
        {
            <dt class="col-sm-2">
                Ảnh chú thích
            </dt>
            <dd class="col-sm-10">
                <img src="~/BookImages/@x.HinhAnh" />
            </dd>
        }
    </dl>
</div>
<hr />
<div style="text-align: center">
    <b>
        <a asp-action="Edit" asp-route-id="@Model.Sach.SachId">Sửa</a> |
        <a asp-action="Index">Trở về</a>
    </b>
    <hr />
</div>
