﻿@model BookStore_Core.ViewModel.ThemSachViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">
    <b>Chỉnh sửa</b>
</h1>

<h4 style="text-align: center">
    <b>Sách</b>
</h4>
<hr />

<div style="padding-left:350px" class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="SachesController" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sach.SachId" />
            <input type="hidden" asp-for="Sach.HinhAnh" />

            <div class="form-group">
                <b>
                    <label asp-for="Sach.TenSach" class="control-label"></label>
                </b>
                <input asp-for="Sach.TenSach" class="form-control" />
                <span asp-validation-for="Sach.TenSach" class="text-danger"></span>
            </div>

            <div class="form-group">
                <b>
                <label asp-for="Sach.HinhAnh" class="control-label">Ảnh ban đầu</label>
                </b>
                <img height="350" width="300" src="~/BookImages/@Model.Sach.HinhAnh" />
            </div>

            <div class="form-group">
                <b><label class="col-md-4 control-label">Thêm ảnh</label></b>
                <div class="col-md-6">
                    <input asp-for="file" class="formcontrol" type="file" name="photo" id="fileUpload" />
                </div>
            </div>
            <div class="form-group">
                <b><label class="col-md-4 control-label">Ảnh mới</label></b>
                <div class="col-md-6">
                    @if (Model.file == null && Model.Sach.HinhAnh != "")
                    {
                        <img height="350" width="300" id="image_upload_preview" src="~/BookImages/NoPicture.png" alt="your image" />
                    }
                    else
                    {
                        <img height="350" width="300" id="image_upload_preview" src="~/BookImages/@Model.file.FileName" alt="your image" />
                    }
                </div>
            </div>
            @if (Model.AnhPhus.Count > 0)
            {
                <input type="hidden" asp-for="AnhPhus[0].IdAnh" />
                <div class="form-group">
                    <b><label class="control-label">Ảnh nhỏ 1 ban đầu</label></b>
                    <img height="350" width="300" src="~/BookImages/@Model.AnhPhus[0].HinhAnh" />
                </div>
            }


            <div class="form-group">
                <b><label class="col-md-4 control-label">Thêm ảnh nhỏ 1</label></b>
                <div class="col-md-6">
                    <input class="formcontrol" type="file" name="photo1" id="fileUpload1" />
                </div>
            </div>
            <div class="form-group">
                <b><label class="col-md-4 control-label">Ảnh nhỏ 1 mới</label></b>
                <div class="col-md-6">
                    <img height="350" width="300" id="image_upload_preview1" src="~/BookImages/NoPicture.png" alt="your image" />
                </div>
            </div>
            @if (Model.AnhPhus.Count > 1)
            {
                <input type="hidden" asp-for="AnhPhus[1].IdAnh" />
                <div class="form-group">
                    <b><label class="control-label">Ảnh nhỏ 2 ban đầu</label></b>

                    <img height="350" width="300" src="~/BookImages/@Model.AnhPhus[1].HinhAnh" />

                </div>
            }
            <div class="form-group">
                <b><label class="col-md-4 control-label">Thêm ảnh nhỏ 2</label></b>
                <div class="col-md-6">
                    <input class="formcontrol" type="file" name="photo2" id="fileUpload2" />
                </div>
            </div>
            <div class="form-group">
                <b><label class="col-md-4 control-label">Ảnh nhỏ 2 mới</label></b>
                <div class="col-md-6">
                    <img height="350" width="300" id="image_upload_preview2" src="~/BookImages/NoPicture.png" alt="your image" />
                </div>
            </div>
            @if (Model.AnhPhus.Count > 2)
            {
                <input type="hidden" asp-for="AnhPhus[2].IdAnh" />
                <div class="form-group">
                    <b><label class="control-label">Ảnh nhỏ 3 ban đầu</label></b>
                    <img height="350" width="300" src="~/BookImages/@Model.AnhPhus[2].HinhAnh" />

                </div>
            }


            <div class="form-group">
                <b><label class="col-md-4 control-label">Thêm ảnh nhỏ 3</label></b>
                <div class="col-md-6">
                    <input class="formcontrol" type="file" name="photo3" id="fileUpload3" />
                </div>
            </div>
            <div class="form-group">
                <b><label class="col-md-4 control-label">Ảnh nhỏ 3 mới</label></b>
                <div class="col-md-6">
                    <img height="350" width="300" id="image_upload_preview3" src="~/BookImages/NoPicture.png" alt="your image" />
                </div>
            </div>
            <div class="form-group">
                <b><label asp-for="Sach.LoaiSachCTId" class="control-label">Loại sách</label></b>
                <select asp-for="Sach.LoaiSachCTId" class="form-control" asp-items="ViewBag.LoaiSachCTId"></select>
                <span asp-validation-for="Sach.LoaiSachCTId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="Sach.TacGiaId" class="control-label">Tác giả</label></b>
                <select asp-for="Sach.TacGiaId" class="form-control" asp-items="ViewBag.TacGiaId"></select>
                <span asp-validation-for="Sach.TacGiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="BangGia.DonGia" class="control-label"></label></b>
                <input type="number" asp-for="BangGia.DonGia" class="form-control" />
                <span asp-validation-for="BangGia.DonGia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <b><label asp-for="Sach.MoTa" class="control-label"></label></b>
                <textarea asp-for="Sach.MoTa" class="form-control"></textarea>
                <span asp-validation-for="Sach.MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div style="text-align: center">
    <b><a asp-action="Index">Back to List</a></b>
</div>
<hr />



@*---------------------------------------------------------------------------------------------------------------------------------------*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $("#fileUpload").on('change', function ()
    {
                var fileInput = document.getElementById('fileUpload');
                var filePath = fileInput.value;//lấy giá trị input theo id
                var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
                                                                       //Kiểm tra định dạng
                if (!allowedExtensions.exec(filePath))
                {
                    var danger = document.getElementById('danger')
                            alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.')
                            fileInput.value = '';
                $('#image_upload_preview').attr({ 'src': '#' });
                    return false;
                }
                else if (typeof (FileReader) != "undefined")
                {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    var reader = new FileReader();
                    reader.onload = function (e)
                         {
                    $("<img />", { "src": e.target.result, "class": "thumb-image", "width": "80%" }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
                else
                {
                    alert("This browser does not support FileReader.");
                }
            });
    function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                $('#image_upload_preview').attr({ 'src': e.target.result, 'width': '200px' });
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
    $("#fileUpload").change(function () {
                readURL(this);
    });

    //sự kiện cho ảnh nhỏ 1
     $("#fileUpload1").on('change', function ()
    {
                var fileInput = document.getElementById('fileUpload1');
                var filePath = fileInput.value;//lấy giá trị input theo id
                var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
                                                                       //Kiểm tra định dạng
                if (!allowedExtensions.exec(filePath))
                {
                    var danger = document.getElementById('danger')
                    alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.')
                    fileInput.value = '';
                    $('#image_upload_preview1').attr({ 'src': '#' });
                    return false;
                }
                else if (typeof (FileReader) != "undefined")
                {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    var reader = new FileReader();
                    reader.onload = function (e)
                         {
                    $("<img />", { "src": e.target.result, "class": "thumb-image", "width": "80%" }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
                else
                {
                    alert("This browser does not support FileReader.");
                }
            });
    function readURL1(input)
    {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image_upload_preview1').attr({ 'src': e.target.result, 'width': '200px' });
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
    $("#fileUpload1").change(function () {
        readURL1(this);
    });

    //sự kiện cho ảnh nhỏ 2
     $("#fileUpload2").on('change', function ()
    {
                var fileInput = document.getElementById('fileUpload2');
                var filePath = fileInput.value;//lấy giá trị input theo id
                var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
                                                                       //Kiểm tra định dạng
                if (!allowedExtensions.exec(filePath))
                {
                    var danger = document.getElementById('danger')
                            alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.')
                            fileInput.value = '';
                $('#image_upload_preview2').attr({ 'src': '#' });
                    return false;
                }
                else if (typeof (FileReader) != "undefined")
                {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    var reader = new FileReader();
                    reader.onload = function (e)
                         {
                    $("<img />", { "src": e.target.result, "class": "thumb-image", "width": "80%" }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
                else
                {
                    alert("This browser does not support FileReader.");
                }
            });
    function readURL2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                $('#image_upload_preview2').attr({ 'src': e.target.result, 'width': '200px' });
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
    $("#fileUpload2").change(function () {
                readURL2(this);
    });


    //Sự kiện ảnh nhỏ 3
     $("#fileUpload3").on('change', function ()
    {
                var fileInput = document.getElementById('fileUpload3');
                var filePath = fileInput.value;//lấy giá trị input theo id
                var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;//các tập tin cho phép
                                                                       //Kiểm tra định dạng
                if (!allowedExtensions.exec(filePath))
                {
                    var danger = document.getElementById('danger')
                            alert('Vui lòng upload các file có định dạng: .jpeg/.jpg/.png/.gif only.')
                            fileInput.value = '';
                $('#image_upload_preview3').attr({ 'src': '#' });
                    return false;
                }
                else if (typeof (FileReader) != "undefined")
                {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    var reader = new FileReader();
                    reader.onload = function (e)
                         {
                    $("<img />", { "src": e.target.result, "class": "thumb-image", "width": "80%" }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
                else
                {
                    alert("This browser does not support FileReader.");
                }
            });
    function readURL3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                $('#image_upload_preview3').attr({ 'src': e.target.result, 'width': '200px' });
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
    $("#fileUpload3").change(function () {
                readURL3(this);
            });
</script>