﻿
@model IEnumerable<BookStore_Core.Models.Sach>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tất cả sách hiện có</h6>
                            <hr />
                            <p>
                                <a asp-action="Create">Thêm sách</a>
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.SachId)</th>
                                            <th>Tên sách</th>
                                            <th>Loại sách</th>
                                            <th>Tên tác giả</th>
                                            <th>Lượt xem</th>
                                            <th>Hình ảnh</th>
                                            <th>Chỉnh sửa</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.SachId)</th>
                                            <th>@Html.DisplayNameFor(model => model.TenSach)</th>
                                            <th>@Html.DisplayNameFor(model => model.LoaiSachCuThe.TenLoaiSachCT)</th>
                                            <th>@Html.DisplayNameFor(model => model.TacGia.TenTacGia)</th>
                                            <th>@Html.DisplayNameFor(model => model.LuotXem)</th>
                                            <th>@Html.DisplayNameFor(model => model.HinhAnh)</th>
                                            <th>Chỉnh sửa</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(a => item.SachId)</td>
                                                <td>@Html.DisplayFor(a => item.TenSach)</td>
                                                <td>@Html.DisplayFor(a => item.LoaiSachCuThe.TenLoaiSachCT)</td>
                                                <td>@Html.DisplayFor(a => item.TacGia.TenTacGia)</td>
                                                <td>@Html.DisplayFor(a => item.LuotXem)</td>
                                                <td>
                                                    <img src="~/BookImages/@item.HinhAnh" style="height:100px; width:60px" />
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.SachId">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.SachId">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.SachId">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
