﻿@model IEnumerable<BookStore_Core.Models.DoanhThuNgay>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string id = "Ngày";
}


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
               
                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Doanh thu theo ngày</h6>
                        <hr />
                        <a asp-action="XuatExcel" asp-area="Admin" asp-controller="HoaDons" asp-route-id="@id">xuất ra excel</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Văn học (Cuốn)</th>
                                        <th>Kinh tế (Cuốn)</th>
                                        <th>Tâm lý - Kỹ năng sống (Cuốn)</th>
                                        <th>Nuôi dạy con (Cuốn)</th>
                                        <th>Sách thiếu nhi (Cuốn)</th>
                                        <th>Tiểu sử - Hồi ký (Cuốn)</th>
                                        <th>Sách giáo khoa - Tham khảo (Cuốn)</th>
                                        <th>Sách ngoại ngữ (cuốn)</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Văn học (Cuốn)</th>
                                        <th>Kinh tế (Cuốn)</th>
                                        <th>Tâm lý - Kỹ năng sống (Cuốn)</th>
                                        <th>Nuôi dạy con (Cuốn)</th>
                                        <th>Sách thiếu nhi (Cuốn)</th>
                                        <th>Tiểu sử - Hồi ký (Cuốn)</th>
                                        <th>Sách giáo khoa - Tham khảo (Cuốn)</th>
                                        <th>Sách ngoại ngữ (cuốn)</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(a => item.DoanhThuId)</td>
                                        <td>@Html.DisplayFor(a => item.VanHoc)</td>
                                        <td>@Html.DisplayFor(a => item.KinhTe)</td>
                                        <td>@Html.DisplayFor(a => item.TamLy_KyNang)</td>
                                        <td>@Html.DisplayFor(a => item.NuoiCon)</td>
                                        <td>@Html.DisplayFor(a => item.SachThieuNhi)</td>
                                        <td>@Html.DisplayFor(a => item.TieuSu_HoiKy)</td>
                                        <td>@Html.DisplayFor(a => item.SGK)</td>
                                        <td>@Html.DisplayFor(a => item.SachNgoaiNgu)</td>
                                        <td>@Html.DisplayFor(a => item.TongTien)</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
