﻿@model IEnumerable<BookStore_Core.Models.ChiTietHoaDon>
@{
    ViewData["Title"] = "LichSuMuaHang";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="ht__bradcaump__area bg-image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Shopping Cart</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="index.html">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Shopping Cart</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- cart-main-area start -->
<div class="cart-main-area section-padding--lg bg--white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ol-lg-12">
                <form asp-action="KetThucThanhToan">
                    <div class="table-content wnro__table table-responsive">
                        <table>
                            <thead>
                                <tr class="title-top">
                                    <th class="product-name">Hình ảnh</th>
                                    <th class="product-name">Tên sách</th>
                                    <th class="product-quantity">Số lượng</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var x in Model)
                                {
                                    <tr>
                                        <td class="product-name">
                                            <img src="~/BookImages/@x.Sach.HinhAnh" width="300" height="250" />
                                        </td>
                                        <td class="product-name">@x.Sach.TenSach</td>
                                        <td class="product-quantity">@x.SoLuong</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
