﻿@model IEnumerable<BookStore_Core.Models.HoaDon>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Xác nhận hóa đơn</h6>
                            <hr />
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ngày mua</th>
                                            <th>Khách hàng</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                            <th>Giao hàng</th>
                                            <th>Chỉnh sửa</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Ngày mua</th>
                                            <th>Khách hàng</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                            <th>Giao hàng</th>
                                            <th>Chỉnh sửa</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@Html.DisplayFor(a => item.HoaDonId)</td>
                                            <td>@Html.DisplayFor(a => item.Customer.CustomerEmail)</td>
                                            <td>@Html.DisplayFor(a => item.TongTien)</td>

                                            @if (item.XacNhan)
                                            {
                                                <td>Đã xác nhân</td>
                                                @if (item.TrangThai == 1)
                                                {
                                                    <td>Đã giao</td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a asp-action="XacNhanDaGiao" asp-route-id="@item.HoaDonId.ToString("ddMMyyyHHMMss")">Xác nhận</a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td>
                                                    <a asp-action="XacNhan" asp-route-id="@item.HoaDonId.ToString("ddMMyyyHHMMss")">Xác nhận</a>
                                                </td>
                                                <td>
                                                    Chờ xác nhận đơn
                                                </td>
                                            }

                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.HoaDonId.ToString("ddMMyyyyHHMMss")">xem chi tiết</a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
